.Contributions {
  width: 100%;
  background: white;
  min-height: 200px;
  overflow: scroll;
  filter: drop-shadow(0 0 8px #333);
  border-radius: 8px;
  margin: 10px;
  max-height: 90%;
  padding: 20px;

  & .contribution {
    margin: 10px;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
  }
}