.Contributions {
  width: 100%;
  background: white;
  // min-height: 500px;
  overflow: scroll;
  filter: drop-shadow(0 0 8px #333);
  border-radius: 8px;
  margin: 10px;
  height: 90%;
  // border: 1px solid black;

  & .contribution {
    margin: 10px;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
  }
}