.SearchDisambiguation {
 & p {
   font-size: 18px;
   padding-left: 8px;
 }
}
.committee-disambiguation{
  cursor: pointer;
  color: white;
  font-size: 18px;
  height: auto;
  width: 90%;
  padding: 10px;
  background:  rgb(98, 84, 129);
  margin: 15px;
}