.SearchForm {

  display: flex;
  flex-direction: column;

  & input {
    margin: 10px;
    height: 40px;
    font-size: 25px;
  }

  & button {
    margin: 10px;
    height: 30px;

    &:hover {
      cursor: pointer
    }
  }

  & .candidate-disambiguation {
    cursor: pointer;
    color: white;
    font-size: 18px;
    height: auto;
    width: 90%;
    padding: 10px;
    // border: 2px solid  rgb(98, 84, 129);
    background:  rgb(98, 84, 129);
    margin: 15px;
  }
}