.SearchForm {

  display: flex;
  flex-direction: column;

  & input {
    margin: 10px;
    height: 30px;
  }

  & button {
    margin: 10px;
    height: 30px;

    &:hover {
      cursor: pointer
    }
  }

  & .candidate-disambiguation {
    cursor: pointer;
    text-transform: capitalize;
    color: darkblue;
  }
}