.App {
  

  & header {
    // background: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    min-height: 80px;
    height: 10vh;
  }

  & .nav {
    color: black;
  }

  & main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(98, 84, 129);
    padding: 50px;
    height: 90vh;
    border-radius: 8px 8px 0 0 ;

    & .search-and-disambiguation {
      border: 1px solid black;
      margin-right: 40px;
      border-radius: 8px; 
      padding: 25px;
      min-width: 20vw;
      background: white;
      max-height: 500px;
      overflow: scroll;
      font-size: 12px;
      filter: drop-shadow(0 0 8px #333);
    }

    & .display {
      background: white;
      border-radius: 8px;
      padding: 20px;
      min-width: 70vw;
      width: auto;
      filter: drop-shadow(0 0 8px #333);
    }
  }

}
