.App {
  

  & header {
    background: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    min-height: 80px;
    height: 10vh;
  }

  & .nav {
    color: black;
  }

  & main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #5F4B8B;
    padding: 50px;
    height: 90vh;
    border-radius: 8px 8px 0 0 ;

    & .search-and-disambiguation {
      border: 1px solid black;
      margin-right: 50px;
      border-radius: 8px; 
      padding: 20px;
      min-width: 400px;
      background: white;
      max-height: 500px;
      overflow: scroll;
      width: 20vw;
    }

    & .display {
      background: white;
      border-radius: 8px;
      padding: 20px;
      min-width: 70vw;
      width: auto;
    }
  }

}
