.App {


  & header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    min-height: 80px;
    height: 80px;

    & h1 {
      font-size: 50px;
      margin: 0 50px;
      text-transform: lowercase;
      color: rgb(98, 84, 129);
    }
  }

  & .nav {
    color: black;
    font-size: 20px;
    padding: 20px;
  }

  & main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 5px solid rgb(98, 84, 129);
    border-bottom: 5px solid rgb(98, 84, 129);
    background-color: rgba(98, 84, 129, 0.3);
    padding: 50px;

    & .search-and-disambiguation {
      margin-right: 40px;
      border-radius: 8px; 
      padding: 25px;
      min-width: 25vw;
      background: white;
      min-height: 200px;
      overflow: auto;
      max-height: 700px;
      font-size: 15px;
      filter: drop-shadow(1px 1px 5px #333);

      & h2 {
        text-align: center;
        color: rgb(98, 84, 129)
      }
    }

    & .display {
      background: white;
      border-radius: 8px;
      padding: 20px;
      min-width: 68vw;
      min-height: 700px;
      max-height: 700px;
      width: auto;
      filter: drop-shadow(1px 1px 5px #333);

      & h3 {
        color: rgb(98, 84, 129);
      }
    }
  }

  & .howTo {
    margin-left: 20px;
    display: flex; 
    flex-direction: row;

    & .faq {
      min-width: 40%;
      border: 1px solid black;
    }
  }

  

}
